html
{
	background-attachment: fixed;
	background-color: transparent;	
}

.header 
{
	font-family: Pacifico, cursive;
	margin: 0;
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	height: 90px;
	width: 100%;
	background-color: #009A71;
	color: white;		
	border-bottom: solid 2px white;
	z-index: 1;	
}

.header h1 
{
	margin: 0;
	margin-left: 50px;
	margin-top: 10px;
}

.bg
{
	background-image:url("image/fond.jpg");
	background-attachment: scroll;
	position: fixed;
	margin: 0; 
	top: 0; 
	left: 0; 
	width: 100vw;
	height: 100vw;
	z-index: -50;
}

body
{
	font-family:Snell Rounhand, cursive;
}

a
{
	color: white;
	text-decoration: none;
	font-family:Snell Rounhand, cursive;
}

#liste
{
		display: block;
		border: solid #145C6F 5px;
		width: 450px;
		color: white;
		background-color: #009A71;
		opacity: 0.8;
		font-size: 18px;
		margin: 25px;
		padding: 25px;
		color:#E83030;
}

#bouton
{
	background-color: #009A71;
	font-size: 15px;
	padding: 5px;
	margin: 0px;
	font-family:Snell Rounhand, cursive;
	border-color: white;
}

.centerist
{
	width: 100vw;
	text-align: center;
}

.container
{
  background-color: #009A71;
  width: 30%; 
  float:left;
  margin-left: 20px;
  margin-bottom : 10px;
}

.container h2
{
  text-align : center;
  color: white;
}

.containerContent
{
  text-align : center;
  height: 60px;
  margin: 5px;
  background-color: #145C6F;
  opacity: 0.8;
}

.containerContent h3
{
	opacity: 1;
	margin: auto;
}

.box2 
{		
	justify-content: center;
	padding-right: 0;
	padding-left: 0; 
	color: black;
	position: relative;
	top: 100px;	
	left: 0;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.5);
}

.contactForm
{
	filter: opacity(1);
}